<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calcing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".audio" />
        <activity android:name=".raspberry" />
        <activity android:name=".arduino" />
        <activity android:name=".rj11" />
        <activity android:name=".rj45" />
        <activity android:name=".redes" />
        <activity android:name=".calculo" />
        <activity android:name=".unidades" />
        <activity android:name=".algebrab" />
        <activity android:name=".electricidad" />
        <activity android:name=".normas" />
        <activity android:name=".sistemas" />
        <activity android:name=".comandos" />
        <activity android:name=".segmentacion" />
        <activity android:name=".bite" />
        <activity android:name=".gr" />
        <activity android:name=".notacion" />
        <activity android:name=".temperatura" />
        <activity android:name=".numero" />
        <activity android:name=".condensadores" />
        <activity android:name=".direccionip" />
        <activity android:name=".leyohm" />
        <activity android:name=".pinout" />
        <activity android:name=".guias" />
        <activity android:name=".teoria" />
        <activity android:name=".convertidores" />
        <activity android:name=".calculadora" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>